*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 60%;
    height: 40%; 
    display: flex;
    background-color: rgb(0, 0, 0);
}
.l-side{
    
    background-color: rgb(17, 15, 39);
    color: white;
    width: 50%;
    padding: 20px;
    padding-right: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.r-side{
    width: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: (277, 64%, 61%);
    position: relative;
}

h2{
    margin-bottom: 15px;
    
}
p{
    margin-bottom: 35px; 
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 12px; 
}
b{
color: rgb(164, 46, 185);
}

.num div p{
    color: hsla(0, 0%, 100%, 0.75);  
    font-size: 13px; 
}

.num{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    
    
    }

.img{
    object-fit: cover;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.overlay{
    
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay::after{
content:"";
display: block;
height: 100%;
width: 100%;
background-color: hsl(277, 64%, 61%);
position: absolute;
top: 0;
left:0;
opacity: .7;
}

@media screen and (max-width: 1440px){
    .container{
        background-color: rgb(0, 0, 0);
    }
    .p{
        white-space: nowrap;
    }
}

@media (max-width: 550px) {
   
    .container{
        width: 100%;
        height: 50%; 
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(0, 0, 0);
    }
    .l-side{
        width: 70%;
        padding: 20px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .r-side{
        width: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        position: relative;
    }
    .p{
        white-space: nowrap;
    }
}

@media screen and (max-width: 850px) {
    .container{ 
        flex-direction: column-reverse;
        background-color: rgb(0, 0, 0);
        height: auto;
    }
    .l-side{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .r-side{
        width: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        position: relative;
    }
    .p{
        white-space: nowrap;
    }
    
}
@media screen and (max-width: 375px ){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .l-side{
        width: 100%;
        padding: 20px;
        min-width: 250px;
        text-align: center;
    }
    .r-side{
        width: 100%;
        min-width: 250px;
    } 
    .num{
        display: inline-block;
        justify-content: space-between;
       margin-right: 10px;
        
        }
    .num div{
        justify-content: space-between;
    }
    .small{
        display: flex;
        flex-direction: column;
    }
}